# IDE
.vscode

# cpp
build

#cland
.cache

*/build

*.pyc

*/outputs

deploy/data/model
deploy/data/motion
deploy/data/lafan_pkl_g1_dance_cont_mask

.DS_Store

._*

# CMake / IDE
.cmake/
._cmake/
._lib/
.cache/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

external
readme